@{
    ViewBag.Title = "Home Page";

}
<!-- This page uses angularjs to load its contents -->
<div style="margin-top:60px;">
    <div >
        <div class="row">
            <div class="col-md-2 col-xs-1 cvTitle">
                {{mycv.title}}
                <hr style="height:4px;width:35%;background-color:black;margin-left:0px;margin-bottom:25px">
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-sm-12 ">
                <div class="cvDesc">
                    {{mycv.description}}
                </div>
                <div class="spanHeight20"></div>
                <div>
                    <a class="btn btn-default cvButton" href="~/Content/aruncv.pdf">Download CV</a>
                </div>
            </div>
            <div class="co-md-2 hidden-xs"></div>
            <div class="col-md-4 col-sm-12">
                    <div class="cvSubTitle">KEY EXPERTISE
                        <hr style="height:3px;width:5%;background-color:black;margin-left:0px; margin-top:10px;margin-bottom:10px">
                    </div>
                    
                    <ul class="cvKeyPoints">
                        <li class="cvKeyPoints text-uppercase" ng-repeat="keyArea in mycv.keyexpertise">
                            <a href="#">{{keyArea}}</a>
                        </li>
                    </ul>
            </div>
            

        </div>
        
    </div>
</div>

